{% extends "landing/layout_c_panel.html" %}
{% block title %}
    Menu agregar
{% endblock %}
{% block content %}

<form method="post" id="contact">
    {% csrf_token %}
    {{ itemForm }}
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#agregarGrupo">
        Agregar nuevo grupo
    </button>
    <div class="modal fade" id="agregarGrupo" tabindex="-1" role="dialog" aria-labelledby="agregarGrupoNuevo" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="agregarGrupoNuevo"> Crear nuevo Grupo</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form method="POST">
                        {{ grupoForm }}
                    </form>
                               <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary" data-dismiss="modal">Guardar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
<input type="submit">  
</form>

{% endblock %}